/* Variables  */
:root {
    /*colors*/
    --verde-oscuro: #4F7B5B;
    --verde-lima: #E1FD70;
    --verde-lima-palido: #F4FFC7;

    /* fonts  */
    --alumni-sans: 'Alumni Sans', sans-serif;
    --icceberg: 'Iceberg', cursive;
}

/* general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: var(--icceberg);

}


img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: black;
}

a:hover {
    color: #1f2216bd;
}

/* header */
header {
    background-color: var(--verde-lima);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    width: 100vw;
    min-width: 25rem;
    max-height: 32vh;
}

/*      logo */
.logo {
    display: flex;
    width: 100vw;
}

.logo>* {
    margin: 1rem;
}

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__subbackground {
    margin: 0.5rem;
    margin-left: 4rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__subtitle {
    font-size: 1.1rem;
    letter-spacing: 0.185em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/*      nav */
.nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: flex-start;
    text-align: center;


    width: 100vw;
    /* max-width: 32rem; */

    margin: auto;
}

.nav__item {
    font-size: 1.8rem;
    border: 2px solid black;
    width: 50%;
}

/* main */
/*      contenedor */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;

    width: 100%;
}

.container>* {
    width: 100%;
    text-align: center;
    padding: 0 4rem;
}

/*              targetas */
.card {

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50vh;

    margin-top: 5vh;
    padding: 12.5vw;
}

.card__text {
    text-align: center;
}



.card .card__button {

    width: 16rem;
    height: 3.5rem;
    font-size: 1.6rem;

    border: 2px solid black;
    background-color: white;

}

#text1 {
    height: 10vh;
}


.card__title {
    font-size: 1.6rem;

}


.card__paragraph {
    margin-top: 0.5rem;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.2rem;
}

.sub-card {
    display: flex;
}

.sub-card__item {
    width: 50%;
    text-align: center;
}

.sub-card__img {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 80%;
    border-bottom: solid 2px black;
}

/* footer */
footer .container {
    width: 100%;
    justify-content: space-around;
    background: var(--verde-lima-palido);
    padding: 1rem;
    flex-direction: row;

}


footer .card {
    height: auto;
    width: 30%;
    margin: 0.5rem;
    padding: 0.5rem;
}

#footer__social {
    width: 100%;
}

#footer__social .card__list>* {
    display: inline-block;
}

#footer__social i {
    font-size: 2rem;
    color: var(--verde-oscuro);
    background: white;
    border-radius: 50%;
}