:root{
/*Variables de colores*/    
    --verde-lima:#E1FD70;

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


html{
    font-size: 62.5%;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Iceberg', cursive;
}


header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #E1FD70;
    width: 100%;
    min-width: 320px;
    max-height: 32vh;
}


.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

header div .logo__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-top: 10px;
}

.logo__img{
    justify-content: center;
    margin-left: 35px;
    margin-top: 20px;
    width: 78px;
    height: 100px;
}

.logo__main{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 50px;
    height: fit-content;

}


header .logo__section{
    margin-left: 20px;
    padding-left: 20px;
    width: fit-content;
    margin-left: 50px;
}


.logo__subtitle{
    font-size: 11px;
    letter-spacing: 0.185em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.logo__subbackground{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 112px;
    height: 23px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
}


.nav{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}


.nav .nav__item{
    font-size: 18px;
    color: black;
    border: 2px solid black;
    width: 50%;
}


.nav .nav__item--2{
    font-size: 18px;
    color: black;
    border: 2px solid black;
    width: 50%;
}

main{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
}


.join{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42vh;
    margin-top: 45px;
}


.join__img{
    align-self: center;
    justify-content: center;
    width: 265px;
    height: 155px;
}


section .join__button{
    align-self: center;
    justify-content: center;
    width: 160px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    border: 2px solid black;
    background-color: white;

}


.text1{
    width: 100%;
    height: 20vh;
    margin-top: 40px;
}


.text1 h4{
    font-size: 14px;
    
}


.text1 p{
    margin-top: 5px;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 12px;
}


.popularThemes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}


.popularThemes__title{
    color: #B6D637;
    font-size: 2rem;
    margin-bottom: 2rem;
}


.popularThemes__rectangle{
    background-color: #FCF9EA;
    width: 80%;
    height: 60%;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}


.rectangle__text{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}

.text__item{
    margin-bottom: 1rem;
}


.rectangle__icons{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 3rem;
}

.icons__items{
    align-self: flex-end;
    margin-bottom: 1.6rem;
    width: 15px;
}

.findpartners{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

}


.connection{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}


.panels{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}


.staff{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.staff__rectangle{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.staff__title{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.rectangle__imgs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.rectangle__epigraphs{
    width: 100%;
    height: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.rectangle__img{
    width: 15rem;
    height: 15rem;
}


.tucho_img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


footer{
    min-height: 10rem;
    min-width: 37.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem;
    background-color: #E1FD70;
}
