:root{
/*Variables de colores*/    
    --verde-lima:#E1FD70;

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


html{
    font-size: 62.5%;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Iceberg', cursive;
}


.headerGrid{
    display: grid;
    grid-template-columns: 31.32% 18.66% 49.98%;
    grid-template-rows: 83.3%  16.66%;
    background-color: #E1FD70;
    width: 100%;
    min-width: 32rem;
    min-height: 28vh;
    max-height: 32vh;
}

.logo__img{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: right;

}

.logo__img--style{
    width: 7rem;
}

.logo__nombreSlogan{
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__nombre{
    position: relative;
    bottom: 0.45rem;
    right: 2.4rem;
}

.logo__nombre--font{
    font-size: 2.75rem;
}

.logo__slogan{
    position: relative;
    top: 0.45rem;
    right: 0.25rem;
}

.logo__slogan--font{
    font-family: Inconsolata;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.185em;
    text-align: center;
    color: rgba(245, 245, 245, 0.6);
    -webkit-text-stroke:0.7px black;
    -webkit-text-fill-color:transparent;
}

.logo__slogan--box{
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 15rem;
    height: 2.3rem;
    padding-top: 5px;
}


.nav--itemBox{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav--itemFont{
    font-size: 1.8rem;
    color:black;
}


.nav__button1{
    grid-area: 2 / 1 / 3 / 3;
    border-left: 2px solid black;
    border-right: 1px solid black;
}


.nav__button2{
    grid-area: 2 / 3 / 3 / 4;
    border-right: 2px solid black;
    border-left: 1px solid black;

}

main{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}


.join{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42vh;
    margin-top: 45px;
}


.join__img{
    align-self: center;
    justify-content: center;
    width: 265px;
    height: 155px;
}


section .join__button{
    align-self: center;
    justify-content: center;
    width: 160px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    border: 2px solid black;
    background-color: white;

}


.text1{
    width: 100%;
    height: 17vh;
    margin-top: 40px;
}


.text1 h4{
    font-size: 14px;
    
}


.text1 p{
    margin-top: 5px;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 12px;
}


.popularThemes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}


.popularThemes__title{
    color: #B6D637;
    font-size: 2rem;
    margin-bottom: 2rem;
}


.popularThemes__rectangle{
    background-color: #FCF9EA;
    width: 80%;
    display: grid;
    grid-template-columns: 10% 40% repeat(3, 13.33%) 10%;
    grid-template-rows: 15px repeat(4, 7.5vh) 13px;
    font-size: 1.1rem;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.5rem;
}

.text__item1--grid{
    grid-area: 2 / 2 / 3 / 3;
}

.text__item2--grid{
    grid-area: 3 / 2 / 4 / 3;
}

.text__item3--grid{
    grid-area: 4 / 2 / 5 / 3;
}

.text__item4--grid{
    grid-area: 5 / 2 / 6 / 3;
}

.users__item1--grid{
    grid-area: 2 / 4 / 3 / 5;
}

.users__item2--grid{
    grid-area: 3 / 4 / 4 / 5;
}

.users__item3--grid{
    grid-area: 4 / 4 / 5 / 5;
}

.users__item4--grid{
    grid-area: 5 / 4 / 6 / 5;
}

.text__item--position{
    display: flex;
    text-align: start;
    align-items: center;
}

.icons__item1--grid{
    grid-area: 2 / 5 / 3 / 6;
}

.icons__item2--grid{
    grid-area: 3 / 5 / 4 / 6;
}

.icons__item3--grid{
    grid-area: 4 / 5 / 5 / 6;
}

.icons__item4--grid{
    grid-area: 5 / 5 / 6 / 6;
}

.iconsUsers__item--position{
    display: flex;
    align-items: center;
    justify-content: right;
}

.icons__item--style{
    width: 2rem;
}

.findpartners{
    background-color: #E1FD70;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

}


.connection{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}


.panels{
    background-color: #E1FD70;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.staffGrid{
    height: 73.5vh;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: repeat(2, 50%);
}


.staff__title{
    font-size: 3rem;
    grid-area: 1 / 1 / 3 / 2;
}

.staff__img1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
}

.staff__img2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 2 / 2 / 3 / 3;
}


.staff__name1{
    width: 100%;
    height: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    grid-area: 3 / 1 / 4 / 2;
}

.staff__name2{
    width: 100%;
    height: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    grid-area: 3 / 2 / 4 / 3;
}


.staff__img__tucho{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.footerGrid{
    width: 100%;
    height: 26.5vh;
    background-color: #E1FD70;
    display: grid;
    grid-template-columns: 37.33% 39.33% 21.33%;
    grid-template-rows: 17% 63% 20%;
}

.sponsor__img{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    bottom: 1rem;
}

.info__developers{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;   
}

.info__demas{
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;  
}

.socials__img{
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.socials__img--position{
    position: relative;
    left: 1.2rem;
}

.info--title{
    font-family: Iceberg;
    font-size: 1.4rem;
}

.info--text{
    font-family: Alumni Sans;
    font-size: 1.60rem;
    font-weight: 600;
    position: relative;
    top: 1.5rem;
}